@if(!isReposloading && (repos === null || repos.length === 0)) {

<div
  class="xl:container mx-auto px-4 md:px-8 lg:px-12 flex flex-col justify-center items-center"
>
  <h3 class="text-5xl md:text-6xl mt-4">Nothing Here</h3>
  <p class="text-[#aaa] opacity-70 text-center mt-2">
    {{ username }} hasn't created any repositories yet.
  </p>
</div>

} @else {

<p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="first"
  [rows]="reposPerPage"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
></p-paginator>

<div
  class="xl:container mx-auto px-4 md:px-8 lg:px-12 py-16 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8"
>
  @if(isReposloading) { @for (item of [].constructor(10); track idx; let idx =
  $index) {

  <app-repo-tile></app-repo-tile>

  } } @else { @for(repo of repos; track repo.url) {

  <app-repo-tile [repo]="repo"></app-repo-tile>

  } }
</div>

}
