@if (loading) {
<p-card class="h-220">
  <div class="flex flex-col gap-2">
    <p-skeleton width="80%" height="1.5rem" borderRadius="6px"></p-skeleton>
    <p-skeleton
      width="33%"
      height="1rem"
      borderRadius="6px"
      class="pt-4"
    ></p-skeleton>
    <p-skeleton width="55%" height="1rem" borderRadius="6px"></p-skeleton>

    <div class="pt-10 flex gap-4">
      <p-skeleton width="3rem" height="1rem" borderRadius="6px"></p-skeleton>
      <p-skeleton width="5rem" height="1rem" borderRadius="6px"></p-skeleton>
      <p-skeleton width="4rem" height="1rem" borderRadius="6px"></p-skeleton>
    </div>
  </div>
</p-card>
} @else if (repo) {

<p-card class="max-w-[550px]">
  <a target="_blank" [href]="repo.url">
    <h5 class="text-2xl">{{ repo.name }}</h5>
  </a>

  <p class="pt-4">{{ repo.description }}</p>

  <div class="pt-4 flex flex-row gap-2">
    @for(topic of repo.topics; track $index) {
    <p-tag [value]="topic"></p-tag>
    }
  </div>
</p-card>

}
