<app-navbar></app-navbar>
<main class="min-h-screen flex flex-col">
  <section class="bg-slate-100 dark:bg-[rgb(10,10,10)] overflow-visible">
    <app-user-profile></app-user-profile>
  </section>

  <section class="pt-8 pb-16 grow">
    @if(is404) {
    <div
      class="xl:container mx-auto px-4 md:px-8 lg:px-12 flex flex-col justify-center items-center"
    >
      <img
        src="/assets/img/404.png"
        alt="A 404 Graphic"
        class="opacity-45 w-[400px]"
      />
      <h3 class="text-5xl md:text-6xl mt-4">Yikes!</h3>
      <p class="text-[#aaa] opacity-70 text-center mt-2">
        Looks like no one's here.<br />Are you sure that username was right?
      </p>
    </div>

    } @else {
    <app-repos></app-repos>
    }
  </section>
</main>
