<app-navbar></app-navbar>
<div class="h-[200vh]">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ab neque
  quibusdam maiores sapiente, quisquam expedita? Doloribus neque culpa aliquam
  harum iure, aspernatur nemo, voluptas, magnam facere sit nesciunt
  necessitatibus labore quam incidunt iste corrupti. Porro corporis et dolorum
  modi rerum recusandae facilis quae maxime minus sint est deleniti, itaque
  molestias tempora atque alias vel distinctio mollitia quasi harum dolores
  nostrum reiciendis exercitationem? Nisi voluptate, aperiam neque distinctio
  quam dicta placeat similique autem modi eveniet veritatis illum sint ea natus
  quis illo libero odit laborum nobis cumque ad inventore voluptates rem in.
  Adipisci obcaecati omnis nulla eveniet. Architecto esse quis aspernatur odio
  id voluptate exercitationem, et ullam vitae reiciendis similique, ducimus
  eveniet cumque modi voluptas omnis saepe veritatis deserunt eum! Illo nam
  maiores eaque et nulla dolor, esse sed. Quis vero assumenda nesciunt, dicta
  nulla voluptas atque porro nihil perspiciatis optio facilis, laborum
  aspernatur quas exercitationem incidunt. Laudantium veniam totam accusantium
  minus perspiciatis consequuntur expedita unde, sapiente ipsa ex repellendus,
  ipsum quas quod veritatis commodi, temporibus recusandae nam provident nobis
  est eius. Numquam autem saepe ullam praesentium quaerat repudiandae est
  dolorem. Vel voluptatum atque odit consectetur architecto in maxime
  accusantium mollitia, repellendus nulla magnam veritatis dolores, optio ab,
  illo sint?
</div>
